/backend/tt
/backend/processed
/backend/output_e
/backend/images
/node_modules
/example.txt
/extracted.txt
/output_image_with_boxes.png
/frontend/node_modules
/backend/image.png
/backend/data.txt
/backend/data1.txt